/*
  Icon Font: ajarat
*/

@font-face {
  font-family: "ajarat";
  src: url("../fonts/ajarat.eot");
  src: url("../fonts/ajarat.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ajarat.woff") format("woff"),
       url("../fonts/ajarat.ttf") format("truetype"),
       url("../fonts/ajarat.svg#ajarat") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "ajarat";
    src: url("../fonts/ajarat.svg#ajarat") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.i-behanced:before,
.i-circle:before,
.i-download-o:before,
.i-github:before,
.i-html5:before,
.i-linkedin:before,
.i-rss:before,
.i-send:before {
  display: inline-block;
  font-family: "ajarat";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.i-behanced:before { content: "\f106"; }
.i-circle:before { content: "\f105"; }
.i-download-o:before { content: "\f100"; }
.i-github:before { content: "\f107"; }
.i-html5:before { content: "\f104"; }
.i-linkedin:before { content: "\f108"; }
.i-rss:before { content: "\f109"; }
.i-send:before { content: "\f10a"; }
